body{background-color: #F7ECD9; font-family: Verdana, Arial, sans-serif;}
nav{font-size: 28px;}
a{color:#F1731E; font-weight:bolder}
img{width:100%;}
h1{color:#7A5642;font-size:48px;}
h2{color:#F7ECD9; background-color:#7A5642;font-size: 27px;}
p,ul,ol{color:#7A5642}
.linknacion{color:#49a7b9}
.linkpagina12{color:#da2629}
.lasttittle{color:#eec50f}