html {
    background-color: #a4a4a4;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #d7d7d7;
    padding: 2em;
}

header {
    background-color: #eaeaea;
    padding: .5em;
}

h2 {
    background-color: steelblue;
    width: 800px;
}

section {
    border: 1px solid #333;
    background-color: mediumturquoise;
    margin: 3em 0;
    padding: 1em;
    height: 300px;
}

#seccion1 {
    /* overflow: visible; */
    overflow: hidden;
}

#seccion2 {
    overflow: scroll;
}

#seccion3 {
    overflow: scroll;
}

#seccion4 {
    overflow: auto;
}

#seccion5 {
    overflow: auto;
}

#seccion5 article {
    /* background-color: skyblue; */
    /* padding-top: 120px; */
}

#seccion6 {
    overflow-x: hidden;
    overflow-y: scroll;
}

#seccion7 {
    overflow-x: scroll;
    overflow-y: hidden;
}

