body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.cards-container {
    /* border: 10px solid; */
    padding: 1em;
    margin-bottom: 1em;
}

.card {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .08);
}

.comprado {
    background-color: #eeb;
}

.promos-container {
    /* border: 10px solid; */
    padding: 1em;
    margin-bottom: 1em;
}

