body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-container {
    overflow: auto;
}

#info-paises {
    border: 4px solid #222;
    /* border-spacing: 0px; */
    border-collapse: collapse;
    width: 800px;
    margin: 1em auto;
}

#info-paises tr > * {
    border: 2px solid #444;
    padding: 0.5em;
}

#info-paises thead {
    background-color: #2b2d42;
    color: #f1f1f1;
}

#info-paises th {

}

#info-paises thead {
    /* background-color: cyan; */
}

#info-paises tbody {
    /* background-color: pink; */
}

#info-paises tbody th {
    background-color: hsl(235, 21%, 15%);
    color: #f1f1f1;
    text-align: right;
}

#info-paises tbody tr:nth-child(odd) th {
    background-color: hsl(235, 21%, 21%);
}

#info-paises tbody td {
    /* background-color: red; */
}

#info-paises tbody tr:nth-of-type(odd) {
    background-color: hsl(197, 24%, 94%);
}

#info-paises tbody tr:nth-of-type(even) {
    background-color: hsl(197, 24%, 84%);
}

#info-paises tfoot {
    background-color: #ef233c;
    color: #edf2f4;
}

