* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    margin: 0 auto;
}

p {
    line-height: 2em;
}

#botonera {
    width: 100px;
    position: fixed;
    bottom: 20px;
    top: 50%;
    left: 0;
    margin-top: -40px;
}

#botonera a {
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .15);
    text-decoration: none;
    background-color: hsl(189, 32%, 79%);
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: hsl(189, 32%, 20%);
}

#botonera a:hover {
    background-color: hsl(189, 32%, 53%);
    color: hsl(189, 32%, 85%);
}

#botonera a:first-child {
    border-top-right-radius: 10px;
}

#botonera a:last-child {
    border-bottom-right-radius: 10px;
}

#boton-whatsapp {
    background-color: hsl(142, 70%, 49%);
    display: inline-block;
    box-shadow: 3px 3px 4px hsla(0, 0%, 0%, .1);
    border-radius: 50%;
    background-image: url('img/icono-whatsapp.png');
    height: 64px;
    width: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
}

#boton-whatsapp span {
    display: none;
    background-color: hsl(142, 70%, 40%);
    padding: 5px;
    position: relative;
    bottom: 30px;
    left: -10px;
    border-radius: 4px;
}

#boton-whatsapp:hover {
    background-color: hsl(142, 70%, 40%);
}

#boton-whatsapp:hover span {
    display: inline-block;
}