* {
    /* margin: 0; */
    /* padding: 0; */
}

body {
    border: 10px solid #468;
    padding: 2em;
    width: 70%;
    margin: 1em auto;
}

ul,
ol {
    border: 3px solid #234;
}

li {
    /* border: 2px solid orangered; */
    
}

.lista1 {
    margin-left: 20px;
}

.lista2 {
    padding-left: 100px;
    list-style-type: disc;
    list-style-type: none;
    list-style-type: square;
    list-style-type: circle;
}

.lista3 {
    padding-left: 5px;
    list-style-position: outside;   /* valor por defecto */
}

.lista3 li {
    border: 1px solid red;
}

.lista4 {
    padding-left: 5px;
    list-style-position: inside;
}

.lista4 li {
    border: 1px solid red;
    /* list-style-position: outside; */
}

li.inside {
    list-style-position: inside;
}

li.outside {
    list-style-position: outside;
}

.lista5 {
    /* padding-left: 0; */
    /* list-style-image: url('img/grande.png'); */
    list-style-type: none;
}

.lista5 li {
    background-image: url('img/grande.png');
    background-repeat: no-repeat;
    background-size: 8px auto;
    background-position: left 5px center;
    margin: 5px 0;
    /* border: 4px solid red; */
    /* list-style-position: inside; */
    padding-left: 15px;
}

.lista6 {
    padding: 3em;
    list-style-position: inside;
    list-style-image: url('img/star-1.png');
}

.lista6 li:nth-child(2) {
    list-style-image: url('img/star-2.png');
}

.lista6 li:nth-child(2):hover {
    list-style-image: url('img/star-1.png');
}

.lista6 li {
    border: 1px solid red;
    padding-left: 10px;
}

.lista7 {
    /* list-style-type: armenian; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-greek; */
    /* list-style-type: lower-roman; */
    list-style-type: upper-roman;
    /* list-style-type: decimal; */
}

ol {
    list-style-type: lower-alpha;
}

ol ol {
    list-style-type: lower-roman;
}
