body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #111;
    color: #e7e7e7;
    text-align: center;
}

.box {
    cursor: pointer;
    border: .2em solid #070707;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: .4em;
}

.box--1 {
    background-color: #163047;
    width: 20em;
    margin: 0 auto;
}

.box--2 {
    background-color: #A30E31;
}

.box--3 {
    background-color: #CB8E00;
}
