* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.row {
    margin-bottom: .5em;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input-group {
    width: 200px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 100%;
}

.input-group .error-detail {
    font-size: .8em;
    padding: 0.3em;
    background-color: hsl(0, 65%, 82%);
    border-radius: 0 0 .3em .3em;
    color: #922;
    display: none;
}

.input-group.error label {
    color: #b33;
}

.input-group.error input {
    color: #b33;
    background-color: hsl(0, 65%, 95%);
    background-image: url('img/icono-error.svg');
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: right 2px center;
    padding-right: 20px;
}

.input-group.error .error-detail {
    display: block;
}
