section {
    background-color: #333;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}

/* Primer hijo (de cualquier tipo) dentro de section (sea o no hijo de section, pero que sea un primer hijo) */
section :first-child {
    color: yellow;
}

/* Primer hijo de section (de cualquier tipo) */
section > :first-child {
    border: 1px solid red;
}

/* Primer hijo, siempre y cuando sea un párrafo */
p:first-child {
    text-decoration: underline;
}

/* Último hijo, siempre y cuando sea un párrafo */
p:last-child {
    background-color: #121212;
    padding: .4em;
}

body :last-child {
}


/* Desafío: analizar por qué estos estilos no funcionan con Live Server */
body > :last-child {
    border: 5px solid pink;
    border-right: 20px solid pink;
}





/* Primer párrafo dentro de un contenedor */
p:first-of-type {
    font-family: Verdana, sans-serif;
}

/* Primer elemento de un tipo dentro de un contenedor dentro de section (primer strong, primer h2, primer a, etc) */
section :first-of-type {
    border: 2px dotted lawngreen;
}

/* Primer elemento section dentro de un contenedor */
section:first-of-type {
    background-color: #135;
}

/* Último párrafo dentro de un contenedor */
p:last-of-type {
    border-right: 2em solid green;
}

p:nth-child(3) {
    border-left: 1.3em double orangered;
    padding-left: 1em;
}

section p:nth-of-type(3) {
    border-bottom: .4em double orchid;
    padding-bottom: .1em;
}

/* section :first-of-type {
    color: deeppink;
} */

section :first-of-type:hover {
    /* color: deeppink; */
}

section :hover {
    /* border-left: 25px double cyan;; */
}

/* Cuarto hijo de un contenedor, siempre y cuando sea un li */
li:nth-of-type(4) {
    color: orangered;
}

/* Penúltimo hijo de un contenedor, (el 2do de abajo para arriba) siempre y cuando sea un li */
li:nth-last-child(2) {
    color: cyan;
}

/* Elementos li impares */
li:nth-child(odd) {
    background-color: #102030;
}

/* Elementos li pares */
li:nth-child(even) {
    background-color: #203040;
}

/* 2do párrafo dentro de un section, contando de abajo para arriba (penúltimo párrafo) */
section p:nth-last-of-type(2) {
    background-color: rebeccapurple;
    padding: .5em;
}

/* Penúltimo strong dentro de section */
section strong:nth-last-of-type(2) {
    font-size: 2em;
}

/* primer li dentro de un contenedor */
li:first-of-type {
    text-align: right;
}

/* 3er li dentro de un contenedor */
li:nth-of-type(3) {
    text-align: center;
}



.prueba h2 {
    border-top: 5px solid red;
    /* padding-top: .7em; */
}

.prueba h2,
.prueba p:nth-of-type(1),
.prueba p:nth-of-type(2),
.prueba p:nth-of-type(3) {
    margin-bottom: 0;
    margin-top: 0;
    border-left: 5px solid red;
    border-right: 5px solid red;
    padding-left: .7em;
    padding-right: .7em;
}

.prueba p:nth-of-type(3) {
    border-bottom: 5px solid red;
    padding-bottom: .7em;
}